version: "3.8"

services:
  bapddang-server:
    image: seojoonrp/bapddang-server:latest
    container_name: bapddang-server
    restart: always
    expose:
      - "8080"
    env_file:
      - .env

  caddy:
    image: caddy:latest
    container_name: caddy-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - bapddang-server

volumes:
  caddy_data:
  caddy_config:
